<style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }
    
    html {
      box-sizing: border-box;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    .column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 8px;
    }
    
    .about-section {
      padding: 50px;
      text-align: center;
      background-color: #474e5d;
      color: white;
    }
    
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: grey;
    }
    
    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
    }
    
    .button:hover {
      background-color: #555;
    }
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    </style>
    
    <body >
    <div text align="center">
    <div class="about-section">
      <h1>About Us</h1>
      <p>This Project is for training purpose - Passport Application System!!
        A Passport is an essential travel document for those who are traveling abroad for education, tourism, medical attendance, business purposes and family visits. During the last few years, the growing economy and spreading globalization have led to an increased demand for Passport and related services. To augment and improve the delivery of passport services to Indian citizens, we have developed  the Passport Seva Project.


      </p>
      <p>VISION</p>
      <p>"To deliver passport services to citizens in a timely, transparent, more
        accessible, reliable manner and in a comfortable environment through
        streamlined processes and committed, trained and motivated workforce"</p>

      <p>This Project consist of 5 members,with different roles</p>
    </div>
    
    <h2 style="text-align:center">Our Team - We five!!</h2>
    <div class="row">
      <div class="column">
        <div class="card">
    
          <div class="container">
            <h2>Abhi </h2>
            <p class="title">Handler of Database</p>
            <p>Abhi handles database part</p>
            <p>Abhi @gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
        
          <div class="container">
            <h2>Anshu</h2>
            <p class="title">Handler of Frontend</p>
            <p>Manages the design part</p>
            <p>Anshu@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
        
          <div class="container">
            <h2>Anuj</h2>
            <p class="title">Handles Spring</p>
            <p>manages operation and updation in spring</p>
            <p>Anuj@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
        
          <div class="container">
            <h2>Arul</h2>
            <p class="title">Handles frontend</p>
            <p>manages the design part</p>
            <p>Arul@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
    
      <div class="column">
        <div class="card">
        
          <div class="container">
            <h2>Ashish</h2>
            <p class="title">Handler of Conventions</p>
            <p>Ashish looks upon the Spring part</p>
            <p>Ashish@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
    </div>
    </div>
    </body>
