#div1{
    padding-left: 30%;
    padding-top: 14%;
    height: 500px;
    background-image: url("https://png.pngtree.com/background/20210716/original/pngtree-celebration-background-birthday-congratulations-pair-ribbon-color-picture-image_1352770.jpg");
}
.div2{
    width:400px;
    padding: left 200px; ;
     
    
}