 
 
form { 
    margin: 0 auto; 
    width:500px;
}
body {
 
  /*
  background-image: url("B:\MLA training\ANGULARFOLD\PassportApplication/src/assets/aero-3.jfif");
  */
    background-color:paleturquoise;
     
    
  }